name: Test
on: push
jobs:
#  with_local_cache:
#    name: Docker with GitHub Cache on GitHub runner
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#
#      - name: Cache Docker Buildx layers
#        uses: actions/cache@main
#        with:
#          path: /tmp/.buildx-cache
#          # Key is named differently to avoid collision
#          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
#          restore-keys: |
#            ${{ runner.os }}-buildx
#        env:
#          PARALLEL_DOWNLOAD: 'true'
#
#      - name: Build and push docker image
#        uses: docker/build-push-action@v4
#        with:
#          context: .
#          file: ./Dockerfile
#          push: false
#          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
#          cache-from: type=local,src=/tmp/.buildx-cache
#          cache-to: type=local,dest=/tmp/.buildx-cache-new
#
#        # Temp fix
#        # https://github.com/docker/build-push-action/issues/252
#        # https://github.com/moby/buildkit/issues/1896
#      - name: Move cache
#        run: |
#          rm -rf /tmp/.buildx-cache
#          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
#  with_new_local_cache_github:
#    name: Docker with BuildJet Cache on GitHub runner
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#
#      - name: Cache Docker Buildx layers
#        uses: buildjet/cache@main
#        with:
#          path: /tmp/.buildx-cache
#          # Key is named differently to avoid collision
#          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
#          restore-keys: |
#            ${{ runner.os }}-buildx
#        env:
#          PARALLEL_DOWNLOAD: 'true'
#
#      - name: Build and push docker image
#        uses: docker/build-push-action@v4
#        with:
#          context: .
#          file: ./Dockerfile
#          push: false
#          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
#          cache-from: type=local,src=/tmp/.buildx-cache
#          cache-to: type=local,dest=/tmp/.buildx-cache-new
#
#        # Temp fix
#        # https://github.com/docker/build-push-action/issues/252
#        # https://github.com/moby/buildkit/issues/1896
#      - name: Move cache
#        run: |
#          rm -rf /tmp/.buildx-cache
#          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
#
#  with_new_local_cache_buildjet:
#    name: Docker with BuildJet Cache on BuildJet runner
#    runs-on: buildjet-2vcpu-ubuntu-2204
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Login to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#
#      - name: Cache Docker Buildx layers
#        uses: buildjet/cache@main
#        with:
#          path: /tmp/.buildx-cache
#          # Key is named differently to avoid collision
#          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
#          restore-keys: |
#            ${{ runner.os }}-buildx
#        env:
#          PARALLEL_DOWNLOAD: 'true'
#
#      - name: Build and push docker image
#        uses: docker/build-push-action@v4
#        with:
#          context: .
#          file: ./Dockerfile
#          push: false
#          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
#          cache-from: type=local,src=/tmp/.buildx-cache
#          cache-to: type=local,dest=/tmp/.buildx-cache-new
#
#        # Temp fix
#        # https://github.com/docker/build-push-action/issues/252
#        # https://github.com/moby/buildkit/issues/1896
#      - name: Move cache
#        run: |
#          rm -rf /tmp/.buildx-cache
#          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
  raw_download_cache_buildjet:
    name: Raw download BuildJet Cache on BuildJet runner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create Download folder
        run: |
          mkdir -p /home/runner/debian

      - name: Restore Download folder
        id: cache-download-restore
        uses: actions/cache/restore@v3
        with:
          path: /home/runner/debian
          key: ${{ runner.os }}-downloadsssss

      - name: List Download folder
        run: |
          ls -la /home/runner/debian

      - name: Download file
        run: |
          curl https://research.nhm.org/pdfs/10840/10840.pdf -o /home/runner/debian/100MB.bin && ls -la /home/runner/debian

      - name: Save Primes
        id: cache-download-save
        uses: actions/cache/save@v3
        with:
          path: /home/runner/debian
          key: ${{ runner.os }}-downloadsssss
