name: Increase Swap Space
on: push
jobs:
  increase-swap-space:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Increase Swap Space
        run: |
          echo "Deleting BuildJet Cache"
          sudo swapon -s
          sudo fallocate -l 16G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          sudo swapon -s