name: Test python container
on: push
jobs:
  ubuntu_python_container:
    runs-on: ubuntu-latest
#    container: python:3.11-slim-bullseye
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Print OS
        run: |
          cat /etc/os-release

  bj_python_container:
    runs-on: buildjet-2vcpu-ubuntu-2204
    container: python:3.11-slim-bullseye
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Print OS
        run: |
          cat /etc/os-release