name: Test
on: push
jobs:
  #  no_cache:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@v3
  #      - name: Login to Docker Hub
  #        uses: docker/login-action@v2
  #        with:
  #          username: ${{ secrets.DOCKERHUB_USERNAME }}
  #          password: ${{ secrets.DOCKERHUB_TOKEN }}
  #      - name: Set up Docker Buildx
  #        uses: docker/setup-buildx-action@v2
  #      - name: Build and push
  #        uses: docker/build-push-action@v4
  #        with:
  #          context: .
  #          file: ./Dockerfile
  #          push: false
  #          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
  #  with_gha_cache:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@v3
  #      - name: Login to Docker Hub
  #        uses: docker/login-action@v2
  #        with:
  #          username: ${{ secrets.DOCKERHUB_USERNAME }}
  #          password: ${{ secrets.DOCKERHUB_TOKEN }}
  #      - name: Set up Docker Buildx
  #        uses: docker/setup-buildx-action@v2
  #      - name: Build and push
  #        uses: docker/build-push-action@v4
  #        with:
  #          context: .
  #          file: ./Dockerfile
  #          push: false
  #          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
  #          cache-from: type=gha
  #          cache-to: type=gha,mode=max
  #  with_local_cache:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Checkout
  #        uses: actions/checkout@v3
  #      - name: Login to Docker Hub
  #        uses: docker/login-action@v2
  #        with:
  #          username: ${{ secrets.DOCKERHUB_USERNAME }}
  #          password: ${{ secrets.DOCKERHUB_TOKEN }}
  #      - name: Set up Docker Buildx
  #        uses: docker/setup-buildx-action@v2
  #
  #      - name: Cache Docker Buildx layers
  #        uses: actions/cache@v2
  #        with:
  #          path: /tmp/.buildx-cache
  #          # Key is named differently to avoid collision
  #          key: ${{ runner.os }}-buildx-${{ github.sha }}
  #          restore-keys: |
  #            ${{ runner.os }}-buildx
  #
  #      - name: Build and push docker image
  #        uses: docker/build-push-action@v4
  #        with:
  #          context: .
  #          file: ./Dockerfile
  #          push: false
  #          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
  #          cache-from: type=local,src=/tmp/.buildx-cache
  #          cache-to: type=local,dest=/tmp/.buildx-cache-new
  #
  #        # Temp fix
  #        # https://github.com/docker/build-push-action/issues/252
  #        # https://github.com/moby/buildkit/issues/1896
  #      - name: Move cache
  #        run: |
  #          rm -rf /tmp/.buildx-cache
  #          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  with_gha_cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
          cache-from: type=gha
          cache-to: type=gha,mode=max
  with_local_cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker Buildx layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          # Key is named differently to avoid collision
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
  with_new_local_cache_buildjet:
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker Buildx layers
        uses: buildjet/cache@main
        with:
          path: /tmp/.buildx-cache
          # Key is named differently to avoid collision
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-buildx
        env:
          PARALLEL_DOWNLOAD: 'true'

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/docker-node-cache-test
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
